@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

body {
  font-family: "Merriweather", serif;
  background: url("../Quiz 1 (5)/assets/scenario2.jpeg") no-repeat center center
    fixed;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
}

.container {
  max-width: 800px;
  background-color: rgba(255, 127, 62, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  height: 90vh;
}

h1 {
  color: #f6f1f1;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#instructions {
  background-color: #fff3e0;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 42rem;
  margin: 2rem auto;
}

#instructions h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d84315;
  margin-bottom: 1rem;
}

#instructions h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ef6c00;
  margin-bottom: 0.75rem;
}

#instructions ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;
}

#instructions li {
  margin-bottom: 0.5rem;
  color: #3e2723;
}

#instructions li:first-child,
#instructions li:last-child {
  font-weight: 600;
}

#instructions ol {
  margin-top: 0.5rem;
}

#quiz-container {
  margin-bottom: 30px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-width: 700px;
}

.question {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.question.active {
  opacity: 1;
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
}

input[type="text"] {
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
}

button {
  display: inline-block;
  background-color: #bea97d;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 5px #0d3240;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 200px;
}

button:hover {
  background-color: #c48425;
  box-shadow: 0 3px #a87919;
  transform: translateY(-3px);
}

button:active {
  box-shadow: 0 2px #4d7874;
  transform: translateY(-1px);
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
}

p {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
}

#result {
  margin-top: 30px;
  font-size: 1.8em;
  color: #a5b554;
  display: none;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
