@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

body {
  font-family: "Merriweather", serif;
  background: url("./assets/img4.jpg") no-repeat center center fixed;
  background-size: cover; 
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  background-color: rgba(148, 180, 194, 0.96);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #f6f1f1;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#quiz-container {
  margin-bottom: 30px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-width: 700px;
}

.question {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.question.active {
  opacity: 1;
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
}

button {
  display: inline-block;
  background-color: #156b93;
  color: #fff;
  padding: 10px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 5px #0d3240;
  transition: all 0.3s ease;
  margin-top: 20px;
  width: 150px;
}

button:hover {
  background-color: #5e848d;
  box-shadow: 0 3px #4d7874;
  transform: translateY(-3px);
}

button:active {
  box-shadow: 0 2px #4d7874;
  transform: translateY(-1px);
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  color: #ffffff; 
}

p {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  color: #ffffff; 
}

#result {
  margin-top: 30px;
  font-size: 1.8em;
  color: #a5b554;
  display: none;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


