<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes slideIn {
        from {
          transform: translateY(20px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: white;
        background-color: #ceced1;
        overflow-x: hidden;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        text-align: center;
        animation: fadeIn 1s ease-out;
      }
      .info-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        animation: slideIn 0.5s ease-out;
      }
      .score-board,
      .leaderboard {
        background-color: rgb(247, 240, 240);
        padding: 15px;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        flex: 1;
        margin: 0 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .score-board h2,
      .leaderboard h2 {
        font-size: 1.5em;
        margin-top: 0;
        text-align: center;
        color: #023f7f;
      }
      .leaderboard ol {
        padding-left: 20px;
        color: #023f7f;
      }
      .leaderboard li {
        margin-bottom: 5px;
      }
      .games {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        animation: fadeIn 1s ease-out 0.5s both;
      }
      .game-icon {
        background-color: white;
        text-align: center;
        width: 150px;
        transition: transform 0.3s ease;
        border-radius: 10px;
        height: 180px;
        width: 200px;
      }
      .game-icon:hover {
        transform: translateY(-5px);
      }
      .game-icon img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        transition: transform 0.3s ease;
      }
      .game-icon:hover img {
        transform: scale(1.1);
      }
      .game-icon p {
        margin-top: 10px;
        font-weight: bold;
      }
      .game-icon a {
        color: #023f7f;
        text-decoration: none;
      }
      .signout-button {
        font-size: 20px;
        display: block;
        width: 150px;
        margin: 30px auto 0;
        padding: 15px;
        background-color: #023f7f;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        animation: pulse 2s infinite;
      }
      .signout-button:hover {
        background-color: #3f87b6;
      }
      #toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% if (user) { %>
      <h1 style="color: #7ca0b8; margin: 35px">
        <span style="color: #023f7f; margin-bottom: 35px">Hello!</span> <%=
        user.fullName %>
      </h1>
      <div class="info-container">
        <div class="score-board">
          <h2>Your Score</h2>
          <p
            style="
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              color: #023f7f;
            "
          >
            <%= user.score %>
          </p>
        </div>
        <div class="leaderboard">
          <h2>Leaderboard</h2>
          <ol>
            <% topPlayers.forEach((player, index) => { %>
            <li><%= player.fullName %> - <%= player.score %> points</li>
            <% }); %>
          </ol>
        </div>
      </div>
      <div class="games">
        <div class="game-icon">
          <a href="/snake-ladder">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/chatapp-dae72.appspot.com/o/techcoders%2Fkisspng-snakes-and-ladders-ludo-neo-classic-ludo-king-d-snakes-and-ladders-5b540e2b433a19.0289314515322353072754.png895b845c-0549-46da-9ebd-fd39c6bf9edb?alt=media&token=c25355c8-28db-4aa4-a772-be596aa204e4"
              alt="Snake Ladder"
            />
            <p>Snake Ladder</p>
          </a>
        </div>
        <div class="game-icon">
          <a href="/hangman">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/chatapp-dae72.appspot.com/o/techcoders%2Fpngwing.com%20(2).png4c305bb2-be16-4b1e-9d05-23f8cda332d4?alt=media&token=2bf12c98-b914-4ef8-9472-0291f7ae5f99"
              alt="Hangman Game"
            />
            <p>Hangman Game</p>
          </a>
        </div>
        <div class="game-icon">
          <a href="/quiz">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/chatapp-dae72.appspot.com/o/techcoders%2Fpngwing.com%20(3).png23425e35-c897-4502-938a-0db9adc3bd01?alt=media&token=3b0233fd-4923-4e28-9093-9d267a329738"
              alt="Quiz"
            />
            <p>Quiz</p>
          </a>
        </div>
        <div class="game-icon">
          <a href="/scenario">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/chatapp-dae72.appspot.com/o/techcoders%2Fpngwing.com%20(4).png23d939d4-90ae-4164-b545-42aceec0e389?alt=media&token=9ed559f3-820e-40c2-b7cd-b6b264babb45"
              alt="Scenario Based Quiz"
            />
            <p>Scenario Based Quiz</p>
          </a>
        </div>
        <div class="game-icon">
          <a href="/spinwheel">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/chatapp-dae72.appspot.com/o/techcoders%2Fpngegg%20(5).pngf9a34058-2587-452f-8a55-e7878eaedfe0?alt=media&token=29720eb9-dcfe-4806-a2c0-be4abaf3a9cd"
              alt="Spin Wheel"
            />
            <p>Spin Wheel</p>
          </a>
        </div>
      </div>
      <a href="/auth/signout" class="signout-button">Sign Out</a>
      <% } else { %>
      <p>User data not available.</p>
      <% } %>
    </div>
    <div id="toast-container"></div>
    <script src="/app.js"></script>
  </body>
</html>
